/* common shared styles */
body{
    font-family: "Open Sans", sans-serif;
}
.text-primary{
    color: #fd6e0a;;
}
.btn-primary{
    background-color: #fd6e0a;
    color: white;
    border: none;
    padding: 20px 30px;
    border-radius: 5px;
    font-weight: 700;
}

/* nav related css */
.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #101010;
    font-size: 45px;
    font-style: normal;
}

.nav-right{
    display: flex;
    align-items: center;
}
.nav-right > ul > li {
    list-style: none;
    margin-right: 50px;
}
.nav-right > ul > li > a {
    text-decoration: none;
    color: black;
}